@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.woff2') format('woff2'),
         url('./assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
         url('./assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .loader {
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-right: 4px solid #38b2ac;
    border-bottom: 4px solid #38b2ac;
    border-left: 4px solid #38b2ac;
}

/* Add this to your CSS file */

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0d6efd; /* Change this to your desired color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.loader {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff; /* Adjust color as needed */
}


@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;